.container {
  display: flex;
  justify-content: space-between;
}

.container input {
  width: 95%;
  height: 2.5rem;
  border: solid 1px white;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  background-color: #3b3b3b;
  color: white;
}
