.container {
    width: 2.5rem;
    height:2.5rem;
    border: solid 1px;
    border-radius: 50%;
    transition: transform .15s ease-in-out;
    background-color: #3B3B3B;
}

.container:hover {
    transform: rotate(-90deg);
    cursor:pointer;
    border: solid 2px;
}

